pillow
pyttsx3
SpeechRecognition
datetime
pywin32
winshell
opencv-python
opencv-contrib-python
numpy
ffpyplayer
requests
beautifulsoup4
wikipedia
pydub
urllib3
pywhatkit
speedtest-cli
pyautogui
